.footer {
  background-color: #ffffff;
  color: #007bff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
}
